<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="common-p2">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.6.2.r362_v20110210b-7H7R67v9rtOv_dTCawtb0WQnN92B"/>
<unit id="org.eclipse.jetty.sdk.feature.group" version="7.1.6.v20100831"/>
<unit id="org.eclipse.pde.junit.runtime.addon.feature.group" version="1.0.0.v20100831"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="common.feature.feature.group" version="1.0.0.201104102204"/>
<unit id="com.sun.msv.feature.feature.group" version="1.0.0.201104102204"/>
<unit id="org.apache.commons.feature.feature.group" version="1.0.0.201104102204"/>
<unit id="org.apache.servicemix.bundles.feature.feature.group" version="1.0.0.201104102204"/>
<unit id="org.apache.ws.feature.feature.group" version="1.0.0.201104102204"/>
<unit id="org.codehaus.jackson.feature.feature.group" version="1.0.0.201104102204"/>
<unit id="org.codehaus.woodstox.feature.feature.group" version="1.0.0.201104102204"/>
<unit id="org.springframework.feature.feature.group" version="1.0.0.201104102204"/>
<unit id="org.springframework.database.feature.feature.group" version="1.0.0.201104102204"/>
<unit id="org.springframework.osgi.feature.feature.group" version="1.0.0.201104102204"/>
<unit id="org.springframework.web.feature.feature.group" version="1.0.0.201104102204"/>
<repository location="jar:file:/Users/lukaszjastrzebski/.m2/repository/com/github/lukaszjastrzebski/commonp2/common.site/1.0.0-SNAPSHOT/common.site-1.0.0-SNAPSHOT.zip!/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
<unit id="org.antlr.runtime.source" version="3.2.0.v201101311130"/>
<unit id="org.aopalliance" version="1.0.0.v200905130917"/>
<unit id="org.apache.ant" version="1.8.2.v20110117-1200"/>
<unit id="org.apache.ant.source" version="1.8.2.v20110117-1200"/>
<unit id="org.apache.batik.ext.awt" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.ext.awt.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.bridge" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.bridge.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.css" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.css.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.dom" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.dom.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.extension" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.extension.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.util.gui" version="1.7.0.v200903091627"/>
<unit id="org.apache.batik.util.gui.source" version="1.7.0.v200903091627"/>
<unit id="org.apache.batik.parser" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.parser.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.pdf" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.dom.svg" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.dom.svg.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.svggen" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.svggen.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.swing" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.swing.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.transcoder" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.transcoder.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.util" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.util.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.xml" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.xml.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.bcel.source" version="5.2.0.v201005080400"/>
<unit id="org.apache.bcel" version="5.2.0.v201005080400"/>
<unit id="org.apache.bsf" version="2.4.0.v201103030230"/>
<unit id="org.apache.bsf.source" version="2.4.0.v201103030230"/>
<unit id="org.apache.commons.beanutils" version="1.7.0.v200902170505"/>
<unit id="org.apache.commons.beanutils.source" version="1.7.0.v200803061811"/>
<unit id="org.apache.commons.cli.source" version="1.2.0.v201011021000"/>
<unit id="org.apache.commons.codec" version="1.3.0.v201101211617"/>
<unit id="org.apache.commons.codec.source" version="1.3.0.v201101211617"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v201005080500"/>
<unit id="org.apache.commons.collections" version="3.2.0.v201005080500"/>
<unit id="org.apache.commons.fileupload" version="1.2.0.v20080604-1500"/>
<unit id="org.apache.commons.fileupload.source" version="1.2.0.v20080604-1500"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.httpclient.source" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.io.source" version="2.0.1.v201101200200"/>
<unit id="org.apache.commons.el" version="1.0.0.v201101211617"/>
<unit id="org.apache.commons.el.source" version="1.0.0.v201101211617"/>
<unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
<unit id="org.apache.commons.jxpath.source" version="1.3.0.v200911051830"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.math.source" version="2.1.0.v201102071000"/>
<unit id="org.apache.commons.net" version="2.2.0.v201101241833"/>
<unit id="org.apache.commons.net.source" version="2.2.0.v201101241833"/>
<unit id="org.apache.commons.pool" version="1.4.0.v20081016-1000"/>
<unit id="org.apache.commons.pool.source" version="1.4.0.v20081016-1000"/>
<unit id="org.apache.derby" version="10.5.1.1_201103291534"/>
<unit id="org.apache.derby.source" version="10.5.1.1_201103291534"/>
<unit id="javax.activation" version="1.1.0.v201005080500"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.1.0.v201101240900"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.1.0.v201101240900"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.1.0.v201101201700"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.1.0.v201101201700"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.1.0.v201101201700"/>
<unit id="org.apache.httpcomponents.httpcore.nio.source" version="4.1.0.v201101201700"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<unit id="org.apache.commons.lang.source" version="2.4.0.v201005080502"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="org.apache.oro" version="2.0.8.v201005080400"/>
<unit id="org.apache.oro.source" version="2.0.8.v201005080400"/>
<unit id="org.apache.jasper" version="5.5.17.v201101211617"/>
<unit id="org.apache.jasper.source" version="5.5.17.v201101211617"/>
<unit id="org.apache.ws.jaxme" version="0.5.1.v20100427-1100"/>
<unit id="org.apache.lucene" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.analysis" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.analysis.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.core" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.core.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.highlighter" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.highlighter.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.memory" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.memory.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.misc" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.misc.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.queries" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.queries.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.snowball" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.snowball.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.source" version="2.9.1.v201101211721"/>
<unit id="org.apache.lucene.spellchecker" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.lucene.spellchecker.source" version="2.9.1.v20100421-0704"/>
<unit id="org.apache.neethi" version="2.0.4.1"/>
<unit id="org.apache.solr.common" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.common.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.core" version="1.4.0.v20110304-0751"/>
<unit id="org.apache.solr.core.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj" version="1.4.0.v20110304-1145"/>
<unit id="org.apache.solr.client.solrj.embedded" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.embedded.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.client.solrj.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.servlet" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.solr.servlet.source" version="1.4.0.v20100421-0704"/>
<unit id="org.apache.velocity" version="1.5.0.v200905192330"/>
<unit id="org.apache.axis" version="1.4.0.v201005080400"/>
<unit id="org.apache.ws.commons.schema" version="1.4.2.v201003051240"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<unit id="org.apache.xml.security" version="1.4.2.v201005080400"/>
<unit id="org.apache.xmlrpc" version="3.0.0.v20100427-1100"/>
<unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
<unit id="org.apache.hadoop.zookeeper" version="3.3.2.v20110219-1150"/>
<unit id="org.apache.hadoop.zookeeper.source" version="3.3.2.v20110219-1150"/>
<unit id="org.kohsuke.args4j" version="2.0.12.v200910131500"/>
<unit id="org.objectweb.asm.source" version="3.3.1.v201101071600"/>
<unit id="org.kohsuke.args4j.source" version="2.0.12.v200910131500"/>
<unit id="javax.inject" version="1.0.0.v20091030"/>
<unit id="javax.inject.source" version="1.0.0.v20091030"/>
<unit id="javax.xml.bind.source" version="2.2.0.v201103041518"/>
<unit id="com.sun.xml.bind.source" version="2.2.0.v201004141950"/>
<unit id="org.cyberneko.html" version="1.9.14.v20110120926"/>
<unit id="org.apache.taglibs.standard.glassfish" version="1.2.0.v201004190952"/>
<unit id="org.openid4java" version="0.9.5.v20110120926"/>
<unit id="javax.annotation" version="1.0.0.v20101115-0725"/>
<unit id="javax.annotation.source" version="1.0.0.v20101115-0725"/>
<unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.mapper.source" version="1.6.0.v20101005-0925"/>
<unit id="org.xbill.dns.source" version="2.0.8.v201010140805"/>
<unit id="org.xbill.dns" version="2.0.8.v201010140805"/>
<unit id="org.easymock" version="2.4.0.v20090202-0900"/>
<unit id="org.easymock.source" version="2.4.0.v20090202-0900"/>
<unit id="org.w3c.dom.events.source" version="3.0.0.draft20060413_v200905140418"/>
<unit id="javax.transaction.source" version="1.1.1.v201004190952"/>
<unit id="javax.transaction" version="1.1.1.v201004190952"/>
<unit id="com.google.gerrit.common" version="2.1.5.v201103020530"/>
<unit id="com.google.gerrit.common.source" version="2.1.5.v201103020530"/>
<unit id="com.google.gerrit.prettify" version="2.1.5.v201103020530"/>
<unit id="com.google.gerrit.prettify.source" version="2.1.5.v201103020530"/>
<unit id="com.google.gerrit.reviewdb" version="2.1.5.v201103020530"/>
<unit id="com.google.collect" version="1.0.0.v201003051000"/>
<unit id="com.google.collect.source" version="1.0.0.v201003051000"/>
<unit id="com.google.gerrit.reviewdb.source" version="2.1.5.v201103020530"/>
<unit id="com.google.inject" version="2.0.0.v201003051000"/>
<unit id="com.google.inject.source" version="2.0.0.v201003051000"/>
<unit id="com.google.gwt.servlet" version="2.1.0.v20101206-1430"/>
<unit id="com.google.gwt.servlet.source" version="2.1.0.v20101206-1430"/>
<unit id="com.google.gson" version="1.6.0.v201101131530"/>
<unit id="com.google.gson.source" version="1.6.0.v201101131530"/>
<unit id="org.h2" version="1.1.117.v20091003-1000"/>
<unit id="org.h2.source" version="1.1.117.v20091003-1000"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.integration" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="com.ibm.icu" version="4.4.2.v20110208"/>
<unit id="com.ibm.icu.base" version="4.4.2.v20110208"/>
<unit id="com.ibm.icu.base.source" version="4.4.2.v20110208"/>
<unit id="com.ibm.icu.source" version="4.4.2.v20110208"/>
<unit id="org.codehaus.jackson.smile" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.smile.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.core.source" version="1.6.0.v20101005-0925"/>
<unit id="org.apache.commons.discovery" version="0.2.0.v201004190315"/>
<unit id="org.apache.jasper.glassfish" version="2.1.0.v201101120552"/>
<unit id="javax.xml.ws" version="2.1.0.v200902101523"/>
<unit id="com.sun.xml.bind" version="2.2.0.v201011030300"/>
<unit id="javax.security.auth.message" version="1.0.0.v201103240903"/>
<unit id="javax.security.auth.message.source" version="1.0.0.v201103240903"/>
<unit id="java_cup.runtime" version="0.10.0.v201005080400"/>
<unit id="java_cup.runtime.source" version="0.10.0.v201005080400"/>
<unit id="org.objenesis.source" version="1.0.0.v201006030720"/>
<unit id="org.objenesis" version="1.0.0.v201006030720"/>
<unit id="javax.management" version="1.2.0.v20100427-1100"/>
<unit id="javax.management.remote" version="1.0.0.v20100427-1100"/>
<unit id="org.mockito" version="1.8.4.v201102171835"/>
<unit id="org.mockito.source" version="1.8.4.v201102171835"/>
<unit id="javax.persistence" version="1.0.0.v200905011740"/>
<unit id="javax.persistence.source" version="1.0.0.v200905011740"/>
<unit id="javax.el.source" version="2.1.0.v201004190952"/>
<unit id="org.apache.jasper.glassfish.source" version="2.1.0.v201101120552"/>
<unit id="org.apache.taglibs.standard.glassfish.source" version="1.2.0.v201004190952"/>
<unit id="javax.el" version="2.1.0.v201004190952"/>
<unit id="com.sun.el.source" version="1.0.0.v201004190952"/>
<unit id="com.sun.el" version="1.0.0.v201004190952"/>
<unit id="javax.servlet.jsp.jstl" version="1.2.0.v201004190952"/>
<unit id="javax.servlet.jsp.jstl.source" version="1.2.0.v201004190952"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<unit id="javax.mail.glassfish" version="1.4.1.v201005082020"/>
<unit id="javax.mail.glassfish.source" version="1.4.1.v201005082020"/>
<unit id="javax.xml.rpc" version="1.1.0.v201005080400"/>
<unit id="org.codehaus.jackson.jaxrs" version="1.6.0.v20101005-1100"/>
<unit id="org.codehaus.jackson.jaxrs.source" version="1.6.0.v20101005-1100"/>
<unit id="javax.ws.rs" version="1.1.1.v20101004-1200"/>
<unit id="javax.ws.rs.source" version="1.1.1.v20101004-1200"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<unit id="org.jdom.source" version="1.1.1.v201101151400"/>
<unit id="org.mortbay.jetty.server" version="6.1.23.v201012071420"/>
<unit id="org.mortbay.jetty.server.source" version="6.1.23.v201012071420"/>
<unit id="org.mortbay.jetty.util.source" version="6.1.23.v201012071420"/>
<unit id="org.mortbay.jetty.util" version="6.1.23.v201012071420"/>
<unit id="org.mortbay.jetty" version="5.1.14.v200806031611"/>
<unit id="org.mortbay.jetty.source" version="5.1.14.v200806031611"/>
<unit id="com.jcraft.jsch" version="0.1.44.v201101211721"/>
<unit id="com.jcraft.jsch.source" version="0.1.44.v201101211721"/>
<unit id="ch.ethz.iks.slp" version="1.0.0.RC5_v20080820-1500"/>
<unit id="ch.ethz.iks.slp.source" version="1.0.0.RC2_v20080604-1500"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="com.google.gwtjsonrpc" version="1.2.2.v201103020530"/>
<unit id="com.google.gwtjsonrpc.source" version="1.2.2.v201103020530"/>
<unit id="javax.servlet.jsp" version="2.2.0.v201103241009"/>
<unit id="javax.servlet.jsp.source" version="2.2.0.v201103241009"/>
<unit id="edu.emory.mathcs.backport.source" version="3.1.0.v200902251154"/>
<unit id="edu.emory.mathcs.backport" version="3.1.0.v200902251154"/>
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<unit id="org.junit.source" version="4.8.2.v4_8_2_v20110321-1705"/>
<unit id="ch.qos.logback.classic" version="0.9.27.v20110224-1110"/>
<unit id="ch.qos.logback.classic.source" version="0.9.27.v20110224-1110"/>
<unit id="ch.qos.logback.core" version="0.9.27.v20110224-1110"/>
<unit id="ch.qos.logback.core.source" version="0.9.27.v20110224-1110"/>
<unit id="ch.qos.logback.slf4j" version="0.9.27.v20110224-1110"/>
<unit id="ch.qos.logback.slf4j.source" version="0.9.27.v20110224-1110"/>
<unit id="com.lowagie.text" version="2.1.7.v201004222200"/>
<unit id="com.lowagie.text.source" version="2.1.7.v201004222200"/>
<unit id="net.miginfocom.layout.source" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout.swing" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout.swing.source" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout.swt.source" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout.swt" version="3.7.1.v200911230030"/>
<unit id="org.mozilla.javascript" version="1.7.2.v201005080400"/>
<unit id="org.mozilla.javascript.source" version="1.7.2.v201005080400"/>
<unit id="net.sourceforge.mx4j" version="3.0.1.v20100427-1100"/>
<unit id="net.sourceforge.mx4j.remote" version="3.0.1.v20100427-1100"/>
<unit id="net.sourceforge.nattable.core" version="2.1.0.v201102231538"/>
<unit id="net.sourceforge.nattable.core.source" version="2.1.0.v201102070845"/>
<unit id="org.opensaml" version="1.1.0.v200905041411"/>
<unit id="com.google.gwtorm" version="1.1.4.v201103020530"/>
<unit id="com.google.gwtorm.source" version="1.1.4.v201103020530"/>
<unit id="org.objectweb.asm" version="3.3.1.v201101071600"/>
<unit id="org.apache.commons.math" version="2.1.0.v201102071000"/>
<unit id="org.apache.commons.io" version="2.0.1.v201101200200"/>
<unit id="org.dojotoolkit" version="1.5.0.v201101262320"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201011021000"/>
<unit id="org.apache.felix.gogo.runtime" version="0.6.1.v201101181528"/>
<unit id="org.prefuse" version="0.1.0.v20100514-1000"/>
<unit id="org.prefuse.source" version="0.1.0.v20100514-1000"/>
<unit id="com.thoughtworks.qdox" version="1.6.3.v20081201-1400"/>
<unit id="com.thoughtworks.qdox.source" version="1.6.3.v20081201-1400"/>
<unit id="org.quartz" version="1.8.3.v20110329-1420"/>
<unit id="com.sun.syndication" version="0.9.0.v200803061811"/>
<unit id="com.sun.syndication.source" version="0.9.0.v200803061811"/>
<unit id="javax.xml.soap" version="1.3.0.v201012031540"/>
<unit id="org.sat4j.core" version="2.2.0.v20100429"/>
<unit id="org.sat4j.pb" version="2.2.0.v20100429"/>
<unit id="commonj.sdo" version="2.1.1.v200905221342"/>
<unit id="commonj.sdo.source" version="2.1.1.v200905221342"/>
<unit id="javax.servlet" version="3.0.0.v201103241727"/>
<unit id="javax.servlet.source" version="3.0.0.v201103241727"/>
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.ext" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.ext.source" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.api.source" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.jul" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.jul.source" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.jcl" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.jcl.source" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.log4j" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.log4j.source" version="1.6.1.v20100831-0715"/>
<unit id="net.sourceforge.lpg.lpgjavaruntime" version="1.1.0.v201004271650"/>
<unit id="lpg.runtime.java" version="2.0.17.v201004271640"/>
<unit id="lpg.runtime.java.source" version="2.0.17.v201004271640"/>
<unit id="net.sourceforge.lpg.lpgjavaruntime.source" version="1.1.0.v201004271650"/>
<unit id="org.uddi4j" version="2.0.5.v200805270300"/>
<unit id="org.w3c.css.sac" version="1.3.1.v200903091627"/>
<unit id="org.w3c.css.sac.source" version="1.3.1.v200903091627"/>
<unit id="org.w3c.dom.events" version="3.0.0.draft20060413_v200905140418"/>
<unit id="org.w3c.dom.smil" version="1.0.1.v200903091627"/>
<unit id="org.w3c.dom.smil.source" version="1.0.1.v200903091627"/>
<unit id="org.w3c.dom.svg" version="1.1.0.v201011041433"/>
<unit id="org.w3c.dom.svg.source" version="1.1.0.v201011041433"/>
<unit id="javax.jws" version="2.0.0.v201005080400"/>
<unit id="javax.jws.source" version="2.0.0.v201005080400"/>
<unit id="org.apache.ws.commons.util" version="1.0.1.v20100518-1140"/>
<unit id="javax.wsdl" version="1.6.2.v201012040545"/>
<unit id="javax.wsdl.source" version="1.6.2.v201012040545"/>
<unit id="org.apache.wsil4j" version="1.0.0.v200901211807"/>
<unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
<unit id="javax.xml.bind" version="2.2.0.v201103041518"/>
<unit id="org.codehaus.jackson.xc" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.xc.source" version="1.6.0.v20101005-0925"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/I20110329143521/repository/"/>
</location>
</locations>
</target>
