<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="remote" sequenceNumber="12">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava.runtime.feature.feature.group" version="9.0.0"/>
<unit id="com.google.guava.sdk.feature.feature.group" version="9.0.0"/>
<repository location="http://guava-osgi.googlecode.com/svn/trunk/repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.0.v20110427-7M7W8Z8eGTNcBbPJNgPDv6E6IOby"/>
<unit id="org.eclipse.jetty.sdk.feature.group" version="7.4.0.201105030934"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.camel.feature.feature.group" version="1.0.0.201105091109"/>
<unit id="org.datanucleus.core.feature.feature.group" version="1.0.0.201105091109"/>
<unit id="org.codehaus.jackson.feature.feature.group" version="1.0.0.201105091109"/>
<unit id="org.springframework.feature.feature.group" version="1.0.0.201105091109"/>
<repository location="http://eliot-projects.googlecode.com/svn/p2/orbit"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.json" version="1.0.0.v201011060100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository/"/>
</location>
</locations>
</target>
