<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT"
			class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
		</encoder>
		<File>logs/logFile.log</File>
	</appender>
	
	
	<!--logger name="org.eclipse.example">
		<level value="debug" />
	</logger-->
	
	<root>
		<level value="info" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
